<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Main Mapper
	</comment>
	
	<entry key="adPrint">
		 SELECT
       			MOVIE_NO,
       			CHANGE_NAME,
       			FILE_PATH
  	       FROM
       			TB_ATTACHMENT
 		  WHERE
       			FILE_LEVEL = 3
 		  ORDER
    		 BY
       			MOVIE_NO
	
	</entry>
	<entry key="chartPrint">
		SELECT
       			MOVIE_NO,
       			CHANGE_NAME,
       			FILE_PATH
  		  FROM
       			TB_ATTACHMENT
  		  JOIN
       			(SELECT
		       			MOVIE_NO,
       					NVL(COUNT(SEAT.SEAT_NO),'0') RANK
  		    	   FROM
       					TB_SCREEN SCREEN 
  				   LEFT
  				   JOIN
       					TB_SEAT SEAT ON(SEAT.SCREEN_NO = SCREEN.SCREEN_NO)
 				  GROUP
    				 BY
       					MOVIE_NO
 				  ORDER
    				 BY
       					RANK DESC) USING(MOVIE_NO)
 		 WHERE
       			FILE_LEVEL = 1
		
	
	</entry>
	
	<entry key="boardPrint">
		SELECT
			   NOTICE_NO,
			   NOTICE_TITLE,
			   TO_CHAR(CREATE_DATE,'YYYY.MM.DD') AS CREATE_DATE
		 FROM
		 	   TB_NOTICE
		 ORDER
		 	BY
		 	   NOTICE_NO DESC
	</entry>
</properties>
