<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Movie Mapper
	</comment>
	
	
	<entry key="selectMovieList">
		SELECT
			  MOVIE_NO,
			  MOVIE_TITLE,
			  MOVIE_RT,
			  MOVIE_RATED,
			  MOVIE_RELEASE,
			  MOVIE_STORY,
			  STATUS,
			  GENRE_CODE,
			  DIRECTOR_NO,
			  MOVIE_UPDATE,
			  FILE_PATH,
			  CHANGE_NAME,
			  TRAILER_VIDEO
		  FROM
			  TB_MOVIE
		  JOIN
			  TB_GENRE ON (GENRE_CODE = GENRE_NO)
		  JOIN
		  	  TB_ATTACHMENT USING (MOVIE_NO)
		 WHERE
		 	  FILE_LEVEL = 1
		 ORDER
		    BY
			  MOVIE_UPDATE DESC
	</entry>
	
	<entry key="movieCategory">
		SELECT
		      MOVIE_NO,
		      MOVIE_TITLE,
		      MOVIE_RT,
		      MOVIE_RATED,
		      MOVIE_RELEASE,
		      MOVIE_STORY,
		      STATUS,
		      GENRE_NAME,
		      DIRECTOR_NO,
		      FILE_PATH,
		      CHANGE_NAME
		  FROM
		      TB_MOVIE
          JOIN
              TB_ATTACHMENT USING (MOVIE_NO)
		  JOIN
		      TB_GENRE ON (GENRE_CODE = GENRE_NO)
		 WHERE
		      GENRE_NAME = ?
           AND
              FILE_LEVEL = 1
	</entry>
	
	
	<entry key="detailMovie">
		SELECT 
		   MOVIE_NO,
		   MOVIE_TITLE,
		   MOVIE_RT,
		   MOVIE_RATED,
		   TO_CHAR(MOVIE_RELEASE, 'YY/MM/DD') MOVIE_RELEASE,
		   MOVIE_STORY,
		   STATUS,
		   GENRE_NO,
		   GENRE_NAME,
		   DIRECTOR_NO,
		   DIRECTOR_NAME,
		   MOVIE_UPDATE,
		   FILE_PATH,
		   CHANGE_NAME,
		   TRAILER_VIDEO
		FROM
		   TB_MOVIE
		JOIN 
		    TB_GENRE ON GENRE_NO = GENRE_CODE
		JOIN 
		    TB_DIRECTOR USING(DIRECTOR_NO)
		  JOIN
		      TB_ATTACHMENT USING (MOVIE_NO)
		WHERE
		   MOVIE_NO = ?
	</entry>
	
	
	<entry key="detailMovieCast">
		SELECT 
		    LISTAGG(A.ACTOR_NAME, ',') 
		    WITHIN GROUP 
		           (ORDER BY A.ACTOR_NO) AS ACTOR_NAMES
		FROM 
		    TB_ACTOR A
		JOIN 
		    TB_CAST C ON A.ACTOR_NO = C.ACTOR_NO
		WHERE
		    C.MOVIE_NO = ?
	</entry>
</properties>
