<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Reservation Mapper
	</comment>
	
	<entry key="selectMovieList">
		SELECT
		       MOVIE_NO,
		       MOVIE_TITLE,
		       FILE_PATH,
		       CHANGE_NAME
		  FROM
		       TB_MOVIE
		  JOIN
		       TB_ATTACHMENT USING(MOVIE_NO)
		 WHERE
		       STATUS = 'Y'  
		 ORDER
		    BY
		       MOVIE_NO
	</entry>
	
	<entry key="selectLocationList">
		SELECT
		       LOCATION_CODE,
		       LOCATION_NAME
		  FROM
		       TB_LOCATION
	</entry>
	
	<entry key="selectScreen">
		SELECT
		       SCREEN_NO,
		       THEATER_NO,
		       THEATER_NAME,
		       MOVIE_TITLE,
		       MOVIE_NO,
		       MOVIE_RT,
		       TO_CHAR(WATCH_DATE,'HH24:MI') || '~' || TO_CHAR(WATCH_DATE + NUMTODSINTERVAL(TO_NUMBER(MOVIE_RT), 'MINUTE') , 'HH24:MI') AS WATCH_DATE,
		       SCREEN_NAME||'관' AS SCREEN_NAME
		  FROM
		       TB_SCREEN
		  JOIN    
		       TB_MOVIE USING(MOVIE_NO)
		  JOIN
		       TB_THEATER USING(THEATER_NO)
		  JOIN
		       TB_LOCATION USING(LOCATION_CODE)
		 WHERE
		       MOVIE_NO = ?
		   AND
		       LOCATION_NAME LIKE '%'||?||'%'
		   AND 
		       TO_CHAR(WATCH_DATE, 'YY/MM/DD') = ?
		 ORDER
		    BY
		       THEATER_NO,
		       WATCH_DATE
	</entry>
	
	<entry key="selectSeatList">
		SELECT
		       SEAT_NO,
		       SCREEN_NO,
		       TICKET_NO
		  FROM
		       TB_SEAT
		 WHERE
		       SCREEN_NO = ?
		 ORDER
		    BY
		       SUBSTR(SEAT_NO, 1, 1),
			   CAST(SUBSTR(SEAT_NO, 2) AS NUMBER),
		       SEAT_NO
	</entry>
	
	<entry key="printReservationInfo">
		SELECT        
		       MOVIE_NO,
		       MOVIE_TITLE,
		       MOVIE_RT,
		       TO_CHAR(MOVIE_RELEASE, 'YYYY-MM-DD') AS MOVIE_RELEASE,
		       GENRE_NAME,
		       FILE_PATH,
		       CHANGE_NAME,
		       SCREEN_NAME||'관' AS SCREEN_NAME,
		       THEATER_NAME,
		       (TO_CHAR(WATCH_DATE,'YYYY-MM-DD') || ' ' || TO_CHAR(WATCH_DATE,'HH24:MI') || '~' || TO_CHAR(WATCH_DATE + NUMTODSINTERVAL(TO_NUMBER(MOVIE_RT), 'MINUTE'), 'HH24:MI')) AS WATCH_DATE,
		       TO_CHAR(SYSDATE, 'YYYY-MM-DD') AS RESERVATION_DATE,
		       TO_CHAR(
		       			(
				         SELECT 
				                PRICE * ?
				           FROM 
				                TB_PRICE
				          WHERE 
				                GRADE = 1
				        )
				        +
				        (
				         SELECT 
				                PRICE * ?
				           FROM 
				                TB_PRICE
				          WHERE 
				                GRADE = 2
				        )
				         ) AS TOTAL_PRICE
		  FROM
		       TB_MOVIE
		  JOIN
		       TB_ATTACHMENT USING(MOVIE_NO)
		  JOIN
		       TB_GENRE ON(GENRE_NO = GENRE_CODE)
		  JOIN
		       TB_SCREEN USING(MOVIE_NO)
		  JOIN
		       TB_THEATER USING(THEATER_NO)
		 WHERE 
		       MOVIE_NO = ?
		   AND
		       SCREEN_NO = ?
       </entry>
	
	<entry key="insertReservation">
		INSERT 
		  INTO 
		       TB_RESERVATION
		       (
		       TICKET_NO,
		       PERSONNEL,
		       MEMBER_NO,
		       SCREEN_NO,
		       STATUS,
		       RESERVATION_DATE
		       ) 
		VALUES 
		       (
		       ?,
		       ?,
		       ?,
		       ?,
		       DEFAULT,
		       SYSDATE
		       )
	</entry>
	
	<entry key="insertPriceSheet">
		INSERT
		  INTO
		  	   TB_PRICESHEET
		  	   (
		  	  	GRADE,
		  	  	TICKET_NO
		  	   )
	  	VALUES
		  	   (
		  	   ?,
		  	   ?
		  	   )
	</entry>
	
	<entry key="insertSeat">
		INSERT
		  INTO
		  	   TB_SEAT
		  	   (
		  	    SEAT_NO,
				SCREEN_NO,
				TICKET_NO
		  	   )
	  	VALUES
		  	   (
		  	    ?,
		  	    ?,
		  	    ?
		  	   )
	</entry>
	
	<entry key="checkReservationInfo">
		SELECT
		       MOVIE_NO,
		       MOVIE_TITLE,
		       MOVIE_RT,
		       MOVIE_RELEASE,
		       TICKET_NO,
		       TEEN_PEOPLE,
		       ADULT_PEOPLE,
		       TEEN_PRICE,
		       ADULT_PRICE,
		       TOTAL_PRICE,
		       GENRE_NAME,
		       FILE_PATH,
		       CHANGE_NAME,
		       SCREEN_NAME||'관' AS SCREEN_NAME,
		       THEATER_NAME,
		       (TO_CHAR(WATCH_DATE,'YYYY-MM-DD') || '   ' || TO_CHAR(WATCH_DATE,'HH24:MI') || '~' || TO_CHAR(WATCH_DATE + NUMTODSINTERVAL(TO_NUMBER(MOVIE_RT), 'MINUTE'), 'HH24:MI')) AS WATCH_DATE,
		       TO_CHAR(SYSDATE, 'YYYY-MM-DD') AS RESERVATION_DATE
		  FROM
		       TB_RESERVATION
		  JOIN (
		        SELECT
		               TICKET_NO,
		               TEEN_PEOPLE,
		               ADULT_PEOPLE,
		               (TEEN_PEOPLE * TP.PRICE) AS TEEN_PRICE,
		               (ADULT_PEOPLE * AP.PRICE) AS ADULT_PRICE,
		               ((TEEN_PEOPLE * TP.PRICE) + (ADULT_PEOPLE * AP.PRICE)) AS TOTAL_PRICE
		          FROM
		               (
		                SELECT
		                       TICKET_NO,
		                       COUNT(CASE WHEN GRADE = 1 THEN 1 ELSE NULL END) AS TEEN_PEOPLE,
		                       COUNT(CASE WHEN GRADE = 2 THEN 2 ELSE NULL END) AS ADULT_PEOPLE
		                  FROM
		                       TB_PRICESHEET
		                  JOIN
		                       TB_PRICE USING(GRADE)
		                 WHERE
		                       TICKET_NO = ?
		                 GROUP
		                    BY
		                       TICKET_NO
		               )
		          JOIN
		               TB_PRICE TP ON(TP.GRADE = 1)
		          JOIN
		               TB_PRICE AP ON(AP.GRADE = 2)
		        ) USING(TICKET_NO)      
		   JOIN
		        TB_SCREEN USING(SCREEN_NO)
		   JOIN
		        TB_MOVIE USING(MOVIE_NO)
		   JOIN
		        TB_THEATER USING(THEATER_NO)
		   JOIN
		        TB_ATTACHMENT USING(MOVIE_NO)
		   JOIN
		        TB_GENRE ON(GENRE_NO =GENRE_CODE)
				
	</entry>
	
	
	
	
</properties>
