<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Reservation Mapper
	</comment>
	
	<entry key="selectMovieList">
		SELECT
		       MOVIE_NO,
		       MOVIE_TITLE,
		       FILE_PATH,
		       CHANGE_NAME
		  FROM
		       TB_MOVIE
		  JOIN
		       TB_ATTACHMENT USING(MOVIE_NO)
		 WHERE
		       STATUS = 'Y'  
		 ORDER
		    BY
		       MOVIE_NO
	</entry>
	
	<entry key="selectLocationList">
		SELECT
		       LOCATION_CODE,
		       LOCATION_NAME
		  FROM
		       TB_LOCATION
	</entry>
	
	<entry key="selectScreenList">
		
			  
	
	
	</entry>
	
	
</properties>
