<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Moviebox Mapper
	</comment>
	
	<entry key="searchTheaterAll">
		SELECT
		       THEATER_NO,
		       THEATER_NAME,
		       THEATER_ADDR,
		       MAP_LINK,
		       LOCATION_NAME
		  FROM
		       TB_THEATER
		  JOIN
		       TB_LOCATION USING(LOCATION_CODE)      
		 ORDER
		    BY
		       THEATER_NO ASC   	   
	</entry>
	<entry key="selectTheaterLocation">
		SELECT
		       THEATER_NO,
		       THEATER_NAME,
		       THEATER_ADDR,
		       MAP_LINK,
		       LOCATION_NAME
		  FROM
		       TB_THEATER
		  JOIN
		       TB_LOCATION USING(LOCATION_CODE)
         WHERE
         	   LOCATION_NAME = ?   
		 ORDER
		    BY
		       THEATER_NO ASC 
	</entry>
	<entry key="selectTheaterName">
		SELECT
		       THEATER_NO,
		       THEATER_NAME,
		       THEATER_ADDR,
		       MAP_LINK,
		       LOCATION_NAME
		  FROM
		       TB_THEATER
		  JOIN
		       TB_LOCATION USING(LOCATION_CODE)
         WHERE
         	   THEATER_NAME LIKE '%'||?||'%'   
		 ORDER
		    BY
		       THEATER_NAME ASC 
	
	
	</entry>
	
	<entry key="detailTheater">
		SELECT
              THEATER_NO,
              THEATER_NAME,
              THEATER_ADDR,
              MAP_LINK,
              LOCATION_NAME,
              THEATER_UPDATE
         FROM
              TB_THEATER
         JOIN
              TB_LOCATION USING(LOCATION_CODE)
        WHERE
              THEATER_NO = ?
	
	</entry>
	
	
	
</properties>
