<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Moviebox Mapper
	</comment>
	
	<entry key="searchTheaterAll">
		SELECT
		       THEATER_NO,
		       THEATER_NAME,
		       THEATER_ADDR,
		       MAP_LINK,
		       LOCATION_NAME
		  FROM
		       TB_THEATER
		  JOIN
		       TB_LOCATION USING(LOCATION_CODE)      
		 ORDER
		    BY
		       THEATER_NO ASC   	   
	</entry>
	<entry key="selectTheaterLocation">
		SELECT
		       THEATER_NO,
		       THEATER_NAME,
		       THEATER_ADDR,
		       MAP_LINK,
		       LOCATION_NAME
		  FROM
		       TB_THEATER
		  JOIN
		       TB_LOCATION USING(LOCATION_CODE)
         WHERE
         	   LOCATION_NAME = ?   
		 ORDER
		    BY
		       THEATER_NO ASC 
	</entry>
	<entry key="selectTheaterName">
		SELECT
		       THEATER_NO,
		       THEATER_NAME,
		       THEATER_ADDR,
		       MAP_LINK,
		       LOCATION_NAME
		  FROM
		       TB_THEATER
		  JOIN
		       TB_LOCATION USING(LOCATION_CODE)
         WHERE
         	   THEATER_NAME LIKE '%'||?||'%'   
		 ORDER
		    BY
		       THEATER_NAME ASC 
	
	
	</entry>

	<entry key="detailTheater">
		SELECT
              THEATER_NO,
              THEATER_NAME,
              THEATER_ADDR,
              MAP_LINK,
              LOCATION_NAME,
              THEATER_UPDATE
         FROM
              TB_THEATER
         JOIN
              TB_LOCATION USING(LOCATION_CODE)
        WHERE
              THEATER_NO = ?
	
	</entry>
	
	
	<entry key="selectTheaterDetail">
		SELECT
		      S.SCREEN_NO,
		      S.THEATER_NO,
		      M.MOVIE_NO,
		      M.MOVIE_TITLE,
		      T.THEATER_NAME,
		      T.THEATER_ADDR,
		      T.MAP_LINK
		  FROM
		      TB_SCREEN S
		 INNER
		  JOIN
		  	  TB_MOVIE M ON S.MOVIE_NO = M.MOVIE_NO
		 INNER
		  JOIN
		      TB_THEATER T ON S.THEATER_NO = T.THEATER_NO
		 WHERE
		      S.THEATER_NO = 1 AND M.STATUS = 'Y'
	</entry>
	
	
</properties>
