<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Theater Mapper
	</comment>
	
	<entry key="searchTheaterAll">
		SELECT
		       THEATER_NO,
		       THEATER_NAME,
		       THEATER_ADDR,
		       MAP_LINK,
		       LOCATION_NAME
		  FROM
		       TB_THEATER
		  JOIN
		       TB_LOCATION USING(LOCATION_CODE)      
		 ORDER
		    BY
		       THEATER_NO ASC   	   
	</entry>
	<entry key="selectTheaterLocation">
		SELECT
		       THEATER_NO,
		       THEATER_NAME,
		       THEATER_ADDR,
		       MAP_LINK,
		       LOCATION_NAME
		  FROM
		       TB_THEATER
		  JOIN
		       TB_LOCATION USING(LOCATION_CODE)
         WHERE
         	   LOCATION_NAME = ?   
		 ORDER
		    BY
		       THEATER_NO ASC 
	</entry>
	<entry key="selectTheaterName">
		SELECT
		       THEATER_NO,
		       THEATER_NAME,
		       THEATER_ADDR,
		       MAP_LINK,
		       LOCATION_NAME
		  FROM
		       TB_THEATER
		  JOIN
		       TB_LOCATION USING(LOCATION_CODE)
         WHERE
         	   THEATER_NAME LIKE '%'||?||'%'   
		 ORDER
		    BY
		       THEATER_NAME ASC 
	
	
	</entry>

	<entry key="detailTheater">
		SELECT
              THEATER_NO,
              THEATER_NAME,
              THEATER_ADDR,
              MAP_LINK,
              LOCATION_NAME,
              THEATER_UPDATE
         FROM
              TB_THEATER
         JOIN
              TB_LOCATION USING(LOCATION_CODE)
        WHERE
              THEATER_NO = ?
	
	</entry>
	
	
	<!-- 선택한 영화관 정보 보여주기 -->
	<entry key="selectTheaterDetail">
		SELECT
		      SCREEN_NO,
		      THEATER_NO,
		      MOVIE_NO,
		      MOVIE_TITLE,
		      THEATER_NAME,
		      THEATER_ADDR,
		      MAP_LINK,
		      FILE_PATH,
		      CHANGE_NAME
		  FROM
		      TB_SCREEN 
		  JOIN
		      TB_MOVIE M USING(MOVIE_NO)
		  JOIN
		      TB_THEATER USING (THEATER_NO)
		  JOIN
		      TB_ATTACHMENT USING(MOVIE_NO)
		 WHERE
		      THEATER_NO = ? AND M.STATUS = 'Y'
		   AND
		      FILE_LEVEL = 1
	</entry>
	
	<entry key="selectTheaterList">
		SELECT
		      THEATER_NO,
		      THEATER_NAME,
		      THEATER_ADDR,
		      MAP_LINK,
		      LOCATION_CODE,
		      THEATER_UPDATE
		  FROM
		      TB_THEATER
		 ORDER
		    BY
		      THEATER_NO DESC
	</entry>
	
	
	<entry key="theaterImg">
		SELECT
		      MOVIE_NO,
		      CHANGE_NAME
		  FROM
		      TB_ATTACHMENT
		  JOIN
		      TB_MOVIE USING(MOVIE_NO)
		 WHERE
		      MOVIE_NO = ?
	</entry>



</properties>
