<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Admin Mapper
	</comment>


	<entry key="adminSelectMovieList">
		SELECT
		    MOVIE_NO,
		    TO_CHAR(MOVIE_RELEASE, 'YY/MM/DD') MOVIE_RELEASE,
		    MOVIE_TITLE,
		    MOVIE_RATED,
		    GENRE_NAME,
		    TO_CHAR(MOVIE_UPDATE, 'YY/MM/DD') MOVIE_UPDATE
		FROM
		    TB_MOVIE
		LEFT
		JOIN
		    TB_GENRE ON(GENRE_NO = GENRE_CODE)
		ORDER
		   BY
		     MOVIE_NO DESC
	</entry>


	<entry key="adminSelectNoticeList">
		SELECT
		    NOTICE_NO,
		    CATEGORY_NAME,
		    NOTICE_TITLE,                  
		    CREATE_DATE,                  
		    COUNT      
		FROM
		    TB_NOTICE    
		JOIN
		    TB_CATEGORY ON (NOTICE_CATEGORY = CATEGORY_NO)
		ORDER
		   BY
		    CATEGORY_NAME
	</entry>































	
</properties>