<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Movie Mapper
	</comment>
	
	
	<entry key="selectMovieList">
		SELECT
			  MOVIE_NO,
			  MOVIE_TITLE,
			  MOVIE_RT,
			  MOVIE_RATED,
			  MOVIE_RELEASE,
			  MOVIE_STORY,
			  STATUS,
			  GENRE_CODE,
			  DIRECTOR_NO,
			  MOVIE_UPDATE
		  FROM
			  TB_MOVIE
		  JOIN
			  TB_GENRE ON (GENRE_CODE = GENRE_NO)
		 ORDER
		    BY
			  MOVIE_UPDATE DESC
	</entry>
	
	<entry key="movieCategory">
		SELECT
		      MOVIE_NO,
		      MOVIE_TITLE,
		      MOVIE_RT,
		      MOVIE_RATED,
		      MOVIE_RELEASE,
		      MOVIE_STORY,
		      STATUS,
		      GENRE_NAME,
		      DIRECTOR_NO
		  FROM
		      TB_MOVIE
		  JOIN
		      TB_GENRE ON (GENRE_CODE = GENRE_NO)
		 WHERE
		      GENRE_NAME = ?
	</entry>
	
	
	<entry key="detailMovie">
		SELECT 
	       A.MOVIE_NO AS MOVIE_NO,
	       A.MOVIE_TITLE AS MOVIE_TITLE,
	       A.MOVIE_RT AS MOVIE_RT,
	       A.MOVIE_RATED AS MOVIE_RATED,
   		   TO_CHAR(MOVIE_RELEASE, 'YY/MM/DD') MOVIE_RELEASE,
	       A.MOVIE_STORY AS MOVIE_STORY,
	       A.STATUS AS STATUS,
	       A.GENRE_NO AS GENRE_NO,
	       B.GENRE_NAME AS GENRE_NAME,
	       A.DIRECTOR_NO AS DIRECTOR_NO,
	       C.DIRECTOR_NAME AS DIRECTOR_NAME,
	       A.MOVIE_UPDATE AS MOVIE_UPDATE
		FROM
		   TB_MOVIE A
		LEFT 
		OUTER
		JOIN 
			TB_GENRE B ON A.GENRE_NO = B.GENRE_CODE
		LEFT
		OUTER
		JOIN 
			TB_DIRECTOR C ON A.DIRECTOR_NO = C.DIRECTOR_NO
		WHERE
		   A.MOVIE_NO = ?
	</entry>
	
	
	<entry key="detailMovieCast">
		SELECT 
		    LISTAGG(A.ACTOR_NAME, ',') 
		    WITHIN GROUP 
		           (ORDER BY A.ACTOR_NO) AS ACTOR_NAMES
		FROM 
		    TB_ACTOR A
		JOIN 
		    TB_CAST C ON A.ACTOR_NO = C.ACTOR_NO
		WHERE
		    C.MOVIE_NO = ?
	</entry>
</properties>
