<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Member Mapper
	</comment>
	
	<entry key="login">
		 SELECT
	            MEMBER_NO,
	            MEMBER_ID,	
	            MEMBER_PWD,	
	            MEMBER_NAME,	
	            TO_CHAR(BIRTHDAY,'YYYY-MM-DD') AS BIRTHDAY,	
	            GENDER,	
	            EMAIL,	
	            PHONE,	
	            ADDRESS,	
	            ENROLL_DATE,	
	            STATUS,	
	            PRIVILEGE,	
	            LOCATION_NAME
	   	   FROM
	            TB_MEMBER
	       JOIN
                TB_LOCATION ON(LOCAL_CODE = LOCATION_CODE)
	      WHERE
	            MEMBER_ID = ?
	        AND
	            MEMBER_PWD = ?
	        AND
	            STATUS = 'Y'

	</entry>
	
	<entry key="loginGenre">
		SELECT
                GENRE_NAME
	   	   FROM
	            TB_MEMBER
           JOIN
                TB_MEMBERGENRE ON(MEMBER_NO = MEM_NO)
           JOIN
                TB_GENRE USING(GENRE_CODE)
          WHERE
	            MEMBER_ID = ?
	        AND
	            MEMBER_PWD = ?
	        AND
	            STATUS = 'Y'
	
	
	</entry>
	
	
	<entry key="memberInsert">
		INSERT
  	      INTO
       		   TB_MEMBER(MEMBER_NO,MEMBER_ID,MEMBER_PWD,MEMBER_NAME,BIRTHDAY,GENDER,EMAIL,PHONE,ADDRESS,LOCAL_CODE)
		VALUES 
			   (SEQ_MEMNO.NEXTVAL,?,?,?,?,?,?,?,?,?)
	
	</entry>
	
	
	<entry key="genreInsert">
		INSERT
   		  INTO
       		   TB_MEMBERGENRE
	    VALUES(
	    		SEQ_MEMNO.CURRVAL,
	    		(SELECT
       				    GENRE_CODE
 				   FROM
       				    TB_GENRE
 				   WHERE
       					 GENRE_NAME = ?))
	
	</entry>
	
	<entry key="myPagePrint">
		SELECT
       			    TICKET_NO,
       				PERSONNEL,
       				MEMBER_NO,
                    SCREEN_NO,
                    SCREEN_NAME,
       				MOVIE_TITLE,
                    TO_CHAR(WATCH_DATE,'HH24:MI') || '~' || TO_CHAR(WATCH_DATE + NUMTODSINTERVAL(TO_NUMBER(MOVIE_RT), 'MINUTE'), 'HH24:MI') AS RT,
       				THEATER_NAME,
       				TO_CHAR(WATCH_DATE,'YY/MM/DD, HH24:MI') AS WATCH_DATE,
       				TB_RESERVATION.STATUS AS STATUS,
      				GRADE_1_COUNT,
       				GRADE_2_COUNT,
       				STUDENT_PRICE,
       				COMMON_PRICE,
       				TOTAL_PRICE,
       				RESERVATION_DATE
  			FROM
       				TB_RESERVATION
  			 JOIN
       				TB_SCREEN USING(SCREEN_NO)
  			 JOIN
      			 	TB_MOVIE USING(MOVIE_NO)
  			 JOIN
       				TB_THEATER USING(THEATER_NO)
  			 JOIN
       				TB_ATTACHMENT USING(MOVIE_NO)
  			 JOIN
       				(SELECT
      				 			A.TICKET_NO,
       							A.GRADE_1_COUNT,
       							A.GRADE_2_COUNT,
       							A.GRADE_1_COUNT * P1.PRICE AS STUDENT_PRICE,
       							A.GRADE_2_COUNT * P2.PRICE AS COMMON_PRICE,
       							(A.GRADE_1_COUNT * P1.PRICE) + (A.GRADE_2_COUNT * P2.PRICE) AS TOTAL_PRICE
  						FROM
        						(SELECT
                							TICKET_NO,
                						    COUNT(CASE 
                  											   	WHEN GRADE = 1 THEN 1 
                												ELSE NULL 
                												END) AS GRADE_1_COUNT,
       										COUNT(CASE 
                												WHEN GRADE = 2 THEN 1 
                												ELSE NULL 
                												END) AS GRADE_2_COUNT
           							FROM
                							TB_RESERVATION
           							 JOIN
                							TB_PRICESHEET USING(TICKET_NO)
           							 JOIN
                							TB_PRICE USING(GRADE)
          						  WHERE
                							MEMBER_NO = ?
          						  GROUP 
             						   BY 
                							TICKET_NO) A
  									JOIN 
  											TB_PRICE P1 ON P1.GRADE = 1
  									JOIN 
  											TB_PRICE P2 ON P2.GRADE = 2
  											) USING(TICKET_NO)  											 											
 				WHERE
       						MEMBER_NO = ?
       				AND
                      		FILE_LEVEL = 1 
 				ORDER
 	  			     BY
 	  	    				TICKET_NO DESC
	
	</entry>
	
	<entry key="seatList">
	 	 SELECT
       			SEAT_NO
 		   FROM   
       			TB_SEAT
 		  WHERE
       			TICKET_NO = ?
 		  ORDER
   		     BY
       			SUBSTR(SEAT_NO, 1, 1),
	   			CAST(SUBSTR(SEAT_NO, 2) AS NUMBER),
       			SEAT_NO
	
	</entry>
	
	
	<entry key="myPageMoviePoster">
				SELECT
       					   FILE_PATH,
       					   CHANGE_NAME
  				  FROM
       					   TB_RESERVATION
  				   JOIN
       						TB_SCREEN USING(SCREEN_NO)
  				   JOIN
       						TB_MOVIE USING(MOVIE_NO)
  				   JOIN
       						TB_ATTACHMENT USING(MOVIE_NO)
 				WHERE
       						TICKET_NO = ?
	
	</entry>
	
	<entry key="myPageBoardPrint">
	SELECT
      	   BOARD_NO,
       	   BOARD_TITLE,
           TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS CREATE_DATE
      FROM
       	   TB_BOARD
     WHERE
           MEMBER_NO = ?
     ORDER
     	BY
     	   BOARD_NO DESC
       	   
	
	
	</entry>
	
	<entry key="myPageBoardAnswer">
	SELECT
       	   ANSWER_NO,
           BOARD_NO
      FROM
           TB_ANSWER
     WHERE
           STATUS = 'Y'
       AND
           BOARD_NO = ?
	
	</entry>
	
	<entry key="myPageOrderPrint">
	SELECT
       	   ORDER_NO,
           MEMBER_NO,
           STATUS,
       	   ORDER_DATE
  	  FROM
       	   TB_ORDER
 	 WHERE
       	   MEMBER_NO = ?
     ORDER
    	BY ORDER_NO DESC
	</entry>
	
	<entry key="orderGoods">
	SELECT
       	   GOODS_NO,
           GOODS_NAME,
           GOODS_PRICE,
           QTY
      FROM
           TB_GOODS
  	  JOIN
       	   TB_ORDERDETAIL USING(GOODS_NO)
 	 WHERE
       	   ORDER_NO = ?
	
	</entry>
	
	<entry key="selectlocal">
	SELECT
       	   LOCATION_CODE
      FROM
           TB_LOCATION
     WHERE
           LOCATION_NAME = ?
	
	
	</entry>

	<entry key="updateMember">
	UPDATE
       	   TB_MEMBER
   	   SET
       	   LOCAL_CODE = ?,
           ADDRESS = ?,
           EMAIL = ?,
           UPDATE_DATE = SYSDATE
 	 WHERE
           MEMBER_NO = ?
	
	
	</entry>
	
	<entry key="deleteGenreList">
		DELETE
  		  FROM  
       		   TB_MEMBERGENRE
 		 WHERE
       		   MEM_NO = ? 
	</entry>
	
	<entry key="genreUpdateInsert">
		INSERT
		  INTO
		  	   TB_MEMBERGENRE
		VALUES(?,(SELECT
       				    GENRE_CODE
 				   FROM
       				    TB_GENRE
 				   WHERE
       					 GENRE_NAME = ?))
	
	</entry>
	
	
	<entry key="updatePwd">
		UPDATE
			   TB_MEMBER
		   SET
		   	   MEMBER_PWD = ?
		 WHERE
		 	   MEMBER_NO = ?
		
		
		
		
	</entry>
	
	<entry key="idSerach">
		SELECT
			   MEMBER_ID
		  FROM
		 	   TB_MEMBER
		 WHERE
		  	   MEMBER_NAME = ?
		   AND
		   	   BIRTHDAY = TO_CHAR(?,'YYYYMMDD')
		   AND
		   	   PHONE = ?
		   AND
		   	   STATUS = 'Y'	   
	
	</entry>
	
	<entry key="deleteMember">
		UPDATE
			   TB_MEMBER
		   SET
		   	   STATUS = 'N'
		 WHERE
		 	   MEMBER_NO = ?
	</entry>
	
	<entry key="memberNoSearch">
		SELECT
			   MEMBER_NO
		  FROM
		 	   TB_MEMBER
		 WHERE
		 	   MEMBER_ID = ?
		   AND
		  	   MEMBER_NAME = ?
		   AND
		   	   BIRTHDAY = TO_CHAR(?,'YYYYMMDD')
		   AND
		   	   PHONE = ?
		   AND
		   	   STATUS = 'Y'	   
	
	</entry>
	
	<entry key="idCheck">
		SELECT
			   COUNT(*)
		  FROM
		  	   TB_MEMBER
		 WHERE
		 	   MEMBER_ID = ?
	</entry>
	
	<entry key="reservationCancel">
		UPDATE
			   TB_RESERVATION
		   SET
       		   STATUS = 'N'
 		 WHERE
      		   TICKET_NO = ?
	
	</entry>

</properties>
