<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Board Mapper
	</comment>
	
	<entry key="selectBoardList">
		SELECT *
		  FROM (
		  		SELECT A.*, ROWNUM RNUM
		          FROM (SELECT
		                      BOARD_NO,
		                      CATEGORY_NAME,
		                      BOARD_TITLE,
		                      MEMBER_NAME,
		                      TO_CHAR(CREATE_DATE, 'YY/MM/DD') CREATE_DATE
		                  FROM
		                      TB_BOARD
		                  JOIN
		                      TB_CATEGORY USING (CATEGORY_NO)
		                  JOIN
		                      TB_MEMBER USING (MEMBER_NO)
		                 WHERE
		                      TB_BOARD.STATUS = 'Y'
		                 ORDER
		                    BY
		                      BOARD_NO DESC) A)
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="selectListCount">
		SELECT
			  COUNT(*)
		  FROM
		  	  TB_BOARD
		 WHERE
		 	  STATUS = 'Y'
	</entry>
	
	<entry key="detailBoard">
		SELECT
	          BOARD_NO,
	          CATEGORY_NAME,
	          BOARD_TITLE,
	          TO_CHAR(CREATE_DATE, 'YY/MM/DD') CREATE_DATE,
	          MEMBER_NAME,
	          MEMBER_NO,
	          BOARD_CONTENT
		  FROM
	          TB_BOARD
		  LEFT		
		  JOIN
	          TB_MEMBER USING (MEMBER_NO)
		  JOIN
	          TB_CATEGORY USING(CATEGORY_NO)
		 WHERE
	          BOARD_NO = ?
		   AND
	          TB_BOARD.STATUS = 'Y'
	
	</entry>
	
	
	<entry key="selectCategoryList">
		SELECT
			  CATEGORY_NO,
			  CATEGORY_NAME
		  FROM
		  	  TB_CATEGORY
	</entry>
	

	<entry key="insertBoard">
		INSERT
		  INTO
	          TB_BOARD
	          (
	          BOARD_NO,
	          BOARD_TITLE,
	          BOARD_CONTENT,
	          CREATE_DATE,
	          CATEGORY_NO,
	          MEMBER_NO
	          )
	    VALUES
		      (
		      SEQ_BOARDNO.NEXTVAL,
		      ?,
		      ?,
		      SYSDATE,
	          ?,
	          ?
		      )
	</entry>
	
	
	<entry key="updateBoard">
		UPDATE
			  TB_BOARD
		   SET
		   	  CATEGORY_NO = ?,
		   	  BOARD_TITLE = ?,
		   	  BOARD_CONTENT = ?
		 WHERE
		 	  BOARD_NO = ?
		   AND
		   	  STATUS = 'Y'
	</entry>
	
	
	<entry key="deleteBoard">
	
		UPDATE
			  TB_BOARD
		   SET
		   	  STATUS = 'N'
		 WHERE
			  BOARD_NO = ?
	</entry>
	
</properties>
