<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Admin Mapper
	</comment>


	<!-- 영화 -->
	<entry key="adminSelectMovieList">
		SELECT *
		FROM (SELECT A.*, ROWNUM RNUM
		      FROM (SELECT
				    MOVIE_NO,
				    TO_CHAR(MOVIE_RELEASE, 'YY/MM/DD') MOVIE_RELEASE,
				    MOVIE_TITLE,
				    MOVIE_RATED,
				    GENRE_NAME,
				    TO_CHAR(MOVIE_UPDATE, 'YY/MM/DD') MOVIE_UPDATE
				FROM
				    TB_MOVIE
				LEFT
				JOIN
				    TB_GENRE ON(GENRE_NO = GENRE_CODE)
				ORDER
				   BY
				     MOVIE_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
		<entry key="selectListCount">
		SELECT
		    COUNT(*)
		  FROM
		    TB_MOVIE
		 WHERE
		    STATUS = 'Y'
	</entry>
	
	
	
	<!-- 공지 -->
	<entry key="adminSelectNoticeList">
		SELECT *
		FROM (SELECT A.*, ROWNUM RNUM
		      FROM (SELECT
				    NOTICE_NO,
				    CATEGORY_NAME,
				    NOTICE_TITLE,                  
				    TO_CHAR(CREATE_DATE, 'YY/MM/DD') CREATE_DATE,                   
				    COUNT      
				FROM
				    TB_NOTICE    
				JOIN
				    TB_CATEGORY ON (NOTICE_CATEGORY = CATEGORY_NO)
				ORDER
				   BY
				    NOTICE_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>


	<entry key="selectListCountNotice">
		SELECT
		    COUNT(*)
		  FROM
		    TB_NOTICE
		 WHERE
		    STATUS = 'Y'
	</entry>


	<!-- 문의 -->
	<entry key="adminSelectQnAList">
		SELECT *
		FROM (SELECT A.*, ROWNUM RNUM
		      FROM (SELECT
		    BOARD_NO,
		    CATEGORY_NO,
		    BOARD_TITLE,
		    MEMBER_ID,
		    TO_CHAR(CREATE_DATE, 'YY/MM/DD') CREATE_DATE,
		    COUNT
		FROM
		   TB_BOARD
		JOIN 
		    TB_MEMBER USING (MEMBER_NO)
		ORDER
		   BY
		    BOARD_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>


	<entry key="selectListCountQnA">
		SELECT
		    COUNT(*)
		  FROM
		    TB_BOARD
		 WHERE
		    STATUS = 'Y'
	</entry>





	<entry key="SelectGenreList">
		SELECT
		    GENRE_CODE,
		    GENRE_NAME
		FROM
		    TB_GENRE
	</entry>



















	
</properties>