<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Admin Mapper
	</comment>


	<entry key="selectListCount">
		SELECT
			   COUNT(*)
	      FROM
	           TB_MOVIE
	</entry>

































	
</properties>