<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectAdmin">


			SELECT 
					MEMBER_NO,
					MEMBER_NAME,	
					ENROLL_DATE,
					STATUS,
					PHONE
			  FROM
					TB_MEMBER


</entry>

<entry key="editAdmin">

			SELECT
				MEMBER_NO,
				MEMBER_NAME,
				MEMBER_ID,
				MEMBER_PWD,
				GENDER,
				BIRTHDAY,
				EMAIL,
				ADDRESS,
				PHONE,
				ENROLL_DATE,
				STATUS
			FROM
				TB_MEMBER	
			WHERE
				MEMBER_NO = ?
		
</entry>










<entry key="updateMember">

		UPDATE
			TB_MEMBER
		SET
			MEMBER_NAME =?,
			EMAIL =?,
			ADDRESS =?,
			PHONE =?,
			STATUS =?,
			UPDATE_DATE 
		WHERE 
			MEMBER_ID = ?
		AND
			STATUS = 'Y'
						
</entry>

<entry key="cinemaCheck">

	SELECT
		THEATER_NO,
		THEATER_UPDATE,
		LOCATION_NAME,
		THEATER_NAME,
		C.LOCATION_CODE,
		MAP_LINK
	FROM
		TB_THEATER C, TB_LOCATION L
     WHERE 
           C.LOCATION_CODE = L.LOCATION_CODE 
</entry>

<entry key="cinemaInsert">

		INSERT 
			INTO TB_THEATER(
						THEATER_NO,
						THEATER_NAME,
						THEATER_ADDR,
						MAP_LINK,
						LOCATION_CODE
						)
						
					VALUES(
						SEQ_THERNO.NEXTVAL,
						?,
						?,
						?,
						?
		)	 
				



</entry>
<entry key="category">

	SELECT * FROM TB_LOCATION


</entry>
<entry key="cinemaEdit">

	SELECT 
			THEATER_NO,
			THEATER_NAME,
			THEATER_ADDR,
			MAP_LINK,
			LOCATION_NAME,
			C.LOCATION_CODE,
			THEATER_UPDATE
	  FROM
		TB_THEATER C, TB_LOCATION L
	  WHERE 
           C.LOCATION_CODE = L.LOCATION_CODE 
           		AND
			THEATER_NO = ? 		
			
</entry>

<entry key="modify">

	UPDATE 
		TB_THEATER 
	SET
		THEATER_NAME = ?,
		THEATER_ADDR = ?,
		MAP_LINK = ? ,
		LOCATION_CODE = ?,
		THEATER_UPDATE = SYSDATE
	WHERE
		THEATER_NO = ?	
</entry>

<entry key="deleleteCinema">

	DELETE
		FROM TB_THEATER
	WHERE 
		THEATER_NO = ?	


</entry>

<entry key="deleteAdmin">


DELETE 
	FROM TB_MEMBER
WHERE
	MEMBER_NO = ?	



</entry>

<entry key="search">
SELECT * FROM TB_MEMBER WHERE ? LIKE '%'||?||'%'

</entry>




<entry key="searchCinema">
SELECT
    C.THEATER_NO,
    C.THEATER_UPDATE,
    L.LOCATION_NAME,
    C.THEATER_NAME,
    C.LOCATION_CODE
FROM
    TB_THEATER C
INNER JOIN
    TB_LOCATION L ON C.LOCATION_CODE = L.LOCATION_CODE
WHERE
    ?  LIKE '%'||?||'%'

</entry>


</properties>